header {
    background-color: #DA0037;
    height: fit-content;
    width: 100%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
* a {
    text-decoration: none
}
.tdown {
    width: 100%;
    border-bottom-style: groove;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.search {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    border-bottom-style: groove;
}
.search-row {
    height: fit-content;
    line-height: 3em;
    margin: 0 1em;
}
.search-row button {
    background-color: #DA0037;
    color: white;
    border: #DA0037;   
}
.search-row input[type=search] {
    box-sizing: border-box;
    padding: 2px 6px;
    display: inline-block;
    width: 100%;
}
.search-row img {
    width: 5em;
    object-fit: contain;
    height: auto;
    display: inline-block;
}
.links {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    padding: 1em 0;
}
.links-box-items {
    width: auto;
}
.links-box-items a {
    text-decoration: none;
    color: inherit;
}
.intro-ad {
    width: 100%;
    height: 200px;
    padding: 1em;
    box-sizing: border-box;
    background-color: #DA0037;
    margin: 1em auto 1em auto;
    border-style: groove;
}

@media (max-width: 800px) {.intro-ad {height: 250px ;}}

.intro-ad img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.line {
    border-bottom-style: groove;
    margin: 0 2em 2px 2em;
}
.arrivals {
    width: fit-content;
    border-bottom-width: thick;
    color: black;
    font-weight: bolder;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.arrivals-frame {
    width: 100%;
    height: fit-content;
    color: #DA0037;
    padding: 1em;
    box-sizing: border-box;
}
.arrivals-box {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.arrivals-box-items {
    max-width: 100%;
    height: 300px;
    margin-bottom: 2em;
    border-style: groove;
    box-sizing: border-box;
    padding: 2em;
    z-index: -1;
}
.arrivals-box-items img {
    max-width: 50%;
    display: block;
    margin: auto;
    object-fit: contain;
}
.arrivals-frame a {
    text-decoration: none;
    color: #DA0037;
}
.signin-boxes {
    max-width: 100%;
    height: 300px;
    margin: 2em 0;
    box-sizing: border-box;
    padding: 1em;
    color: black;
    text-align: justify;
}
.signin-boxes button:hover {
    background-color: lime;
}
.signin-boxes a {
    color: #DA0037;
}
.signin-boxes img {
    max-width: 30%;
    display: block;
    margin: auto;
    object-fit: contain;
}
.topdeals {
    background-color: #DA0037;
    color: white;
    padding: 6px;
    box-sizing: border-box;
    display: inline;
    width: auto;
    border-style: none;
}
.topics {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

@media (max-width: 800px) {.topics {flex-flow: row wrap;}}

.ad-holder {
    width: 100%;
    margin: 1em auto;
    padding: 1em;
    border-style: groove;
    box-sizing: border-box;
}
.ad-holder img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.trending {
    width: 100%;
    margin: 1em 0;
    padding: 0%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.trending-boxes {
    width: 15%;
    padding: 15px;
    height: 400px;
    box-sizing: border-box;
    color: black;
    text-align: justify;
    word-break: break-all;
}
@media (max-width: 800px) {.trending-boxes {width: 50% ;}}

.trending-boxes a {
    color: #DA0037;
    text-decoration: none;
}
.trending-boxes i {
    color: yellow;
}
.trending-boxes img {
    width: 100%;
    display: block;
    height: min-content;
    object-fit: contain;
    margin: 0% auto;
}
.f-offers {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 1em 0 2em 0;
    align-items: center;
}
.offers-box {
    width: 45%;
    height: auto;
    box-sizing: border-box;
    color: black;
}
.offers-box a {
    color: #DA0037;
    text-decoration: none;
}
.offers-box img {
    max-width: 100%;
    display: block;
    height: 200px;
    object-fit: contain;
    margin: 0 auto;
}
.offers-box i {
    color: #DA0037;
}
.shipping-offers {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 1em 0 2em 0;
    align-items: center;
}
.shipping-offers-box {
    width: 30%;
    height: auto;
    box-sizing: border-box;
    color: black;
    padding: 15px;
}
.shipping-offers-box i {
    color: #DA0037;
    text-align: center;
    margin: auto;
}
.shippingbox {
    display: inline-block;
    margin-left: 1em;
}
@media (max-width: 800px) {.shippingbox {display: block;}}
@media (max-width: 800px) {.shippingbox {margin-left: 0;}}

.logistics-column {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.logistics-items {
    width: 90%;
    color: black;
    padding: 1em;
    border-radius: 8px 8px;
    margin-bottom: 1em;
    background-color: white;
}
.logistics-items a {
    color: inherit;
}
.center {
    text-align: center;
    color: black;
}
footer input[type=email] {
    box-sizing: border-box;
    padding: 2px 6px;
    display: inline-block;
    width: 60%;
}
